<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="wrap-product">
		<div class="details-img">
			<img alt="" src="assets/images/product-d-1.jpg">
		</div>
		<div class="details-content srh">
			<h4 class="title-2"><span>Thành phần</span></h4>
			<ul class="list-nav">
				<li><strong>Cao thường xuân</strong><span>35ml</span></li>
				<li><strong>Tinh dầu tràm</strong><span>0.25ml</span></li>
				<li><strong>Tinh dầu gừng</strong><span>0.25ml</span></li>
				<li><strong>Tinh dầu húng chanh</strong><span>0,25ml</span></li>
				<li><strong>Dịch ép quả tắc, đường phèn </strong><span>vừa đủ 5ml</span></li>
			</ul>
		</div>
	</div>
</body>
</html>