<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="wrap-product">
		<div class="details-img">
			<img alt="" src="assets/images/product-d-1.jpg">
		</div>
		<div class="details-content">
			<h4 class="title-2"><span>Thành phần</span></h4>
			<ul class="list-nav">
				<li><strong>Cao thường xuân</strong><span>7 mg</span></li>
				<li><strong>Tinh dầu chanh</strong><span>1 mg</span></li>
				<li><strong>Tinh dầu gừng</strong><span>0.6 mg</span></li>
				<li><strong>Tinh dầu húng chanh</strong><span>0.2 mg</span></li>
				<li><strong>Tinh dầu quế</strong><span>0.5 mg</span></li>
				<li><strong>Tinh dầu tràm gió</strong><span>0.5 mg</span></li>
				<li><strong>Tinh dầu é tía</strong><span>0.05 mg</span></li>
				<li><strong>Tinh dầu tắc</strong><span>0.1 mg</span></li>
				<li><strong>Phụ liệu:Isomalt, sucralose, menthol eucalyptol </strong><span>vừa đủ 1 viên 2g</span></li>
			</ul>
		</div>
	</div>
</body>
</html>